.home{
  min-height: calc(100vh - 140px);
  background-image: url('../../../assets/images/logo.png');
  background-repeat: no-repeat;
  background-position-y: 200px;
  background-position-x: center;
}