<div class="menu">
  <h2>Menu</h2>
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li class="detail">Cadastrar
      <ul class="links">
        <li><a routerLink="/cursos">Curso</a></li>
        <li><a routerLink="/disciplinas">Disciplina</a></li>
        <li><a routerLink="/questoes">Questão</a></li>
      </ul>
    </li>
    <li class="detail"><a routerLink="/consultar">Consultar</a></li>
    <li class="detail">Editar
      <ul class="links">
        <li><a routerLink="/cursos-listar">Curso</a></li>
        <li><a routerLink="/disciplinas-listar">Disciplina</a></li>
        <li><a routerLink="/questoes-listar">Questão</a></li>
      </ul>
    </li>
  </ul>
</div>